*{
    padding: 0;
    margin: 0;
    align-content: center;
}
body{
    display: flex;
    justify-content: center;
}
#container{
    display: flex;
    
    border: 2px solid black;
    height: 500px;
    width: 600px;
    display: flex;
    /* flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center; */
}
#box1{
    width:100px;
    /* height: 50px; */
    border: 2px solid black;
    background-color: aquamarine;
}
#box2{
    width:100px;
    height: 50px;
    border: 2px solid black;
    background-color: rgb(230, 68, 235);
}
#box3{
    width:100px;
    height: 50px;
    border: 2px solid black;
    background-color: rgb(234, 42, 12);
}
#box4{
    width:100px;
    height: 50px;
    border: 2px solid black;
    background-color: rgb(202, 220, 32);
}
#box5{
    width:100px;
    height: 50px;
    border: 2px solid black;
    background-color: burlywood;
    
    
    
}


